# Raid check config file

#ecnlosure
encID={{raidcheck_encID}}

#drive0
drive0MediaLimit={{ raidcheck_drive0MediaLimit }}
drive0OtherLimit={{ raidcheck_drive0OtherLimit }}
#drive1
drive1MediaLimit={{ raidcheck_drive1MediaLimit }}
drive1OtherLimit={{ raidcheck_drive1OtherLimit }}
#drive2
drive2MediaLimit={{ raidcheck_drive2MediaLimit }}
drive2OtherLimit={{ raidcheck_drive2OtherLimit }}
#drive3
drive3MediaLimit={{ raidcheck_drive3MediaLimit }}
drive3OtherLimit={{ raidcheck_drive3OtherLimit }}
#logic0
logDrvStateLimit="{{ raidcheck_logDrvStateLimit }}"

#mail
recipient="{{ raidcheck_recipient }}"

#logging
logDest="{{ raidcheck_logdest }}"